In [1]:
import pandas as pd
from sklearn.datasets import load_iris

In [2]:
data = load_iris(return_X_y=True)

In [5]:
X = data[0]
y = data[-1]
cols = load_iris().feature_names

In [ ]:
df = pd.DataFrame(X, columns=cols)
df['target'] = y

In [8]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [9]:
df.sort_values('sepal length (cm)', ascending=True)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
13,4.3,3.0,1.1,0.1,0
42,4.4,3.2,1.3,0.2,0
38,4.4,3.0,1.3,0.2,0
8,4.4,2.9,1.4,0.2,0
41,4.5,2.3,1.3,0.3,0
...,...,...,...,...,...
122,7.7,2.8,6.7,2.0,2
118,7.7,2.6,6.9,2.3,2
117,7.7,3.8,6.7,2.2,2
135,7.7,3.0,6.1,2.3,2
131,7.9,3.8,6.4,2.0,2

In [10]:
df.sort_values('sepal length (cm)', ascending=False)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
131,7.9,3.8,6.4,2.0,2
135,7.7,3.0,6.1,2.3,2
122,7.7,2.8,6.7,2.0,2
117,7.7,3.8,6.7,2.2,2
118,7.7,2.6,6.9,2.3,2
...,...,...,...,...,...
41,4.5,2.3,1.3,0.3,0
42,4.4,3.2,1.3,0.2,0
38,4.4,3.0,1.3,0.2,0
8,4.4,2.9,1.4,0.2,0
13,4.3,3.0,1.1,0.1,0

In [11]:
df.sort_values(by=['sepal length (cm)', 'petal length (cm)'], ascending=True)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
13,4.3,3.0,1.1,0.1,0
38,4.4,3.0,1.3,0.2,0
42,4.4,3.2,1.3,0.2,0
8,4.4,2.9,1.4,0.2,0
41,4.5,2.3,1.3,0.3,0
...,...,...,...,...,...
135,7.7,3.0,6.1,2.3,2
117,7.7,3.8,6.7,2.2,2
122,7.7,2.8,6.7,2.0,2
118,7.7,2.6,6.9,2.3,2
131,7.9,3.8,6.4,2.0,2

In [13]:
df.sort_values(by=['sepal length (cm)', 'petal length (cm)'], ascending=[False, True])

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
131,7.9,3.8,6.4,2.0,2
135,7.7,3.0,6.1,2.3,2
117,7.7,3.8,6.7,2.2,2
122,7.7,2.8,6.7,2.0,2
118,7.7,2.6,6.9,2.3,2
...,...,...,...,...,...
41,4.5,2.3,1.3,0.3,0
38,4.4,3.0,1.3,0.2,0
42,4.4,3.2,1.3,0.2,0
8,4.4,2.9,1.4,0.2,0
13,4.3,3.0,1.1,0.1,0